<h1>Admin Dashboard</h1>

<div class="alert alert-info">
<h1>You have <strong><%= @product_count %></strong> products in your database</h2>
</div>

<div class="alert alert-success">
<h1>You have <strong><%= @category_count %></strong> categories of products</h2>
</div>